.header {
    /*padding-bottom: 1rem;*/
    /*width: 75%;*/
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}

.header h1 {
    color: rgb(0, 0, 0);
    margin-bottom: 0;
    margin-top: 0;
}

.header-top {
    display: inline-flex;
}

.header-top img{
    width: auto;
    height: 100px;
    padding: 10px;
}

.headertext{
    margin: auto;
    margin-left: 0;

}

.headertext h1 {
    font-family: "Playfair Display";
}

.headertext2 {
text-align: left;
    margin-top: 10px;

}


.headertext p {
    margin-top: 0;
    color: rgb(0, 0, 0);
    font-style: italic;
}

.navBar {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

button {
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.selected {
    background-color: #F9F0E2;
    text-decoration: none;
}

.unselected {
    text-decoration: none;
}