.header {

}

.header h1 {

    color: rgb(0, 0, 0);
}

.navBar {
    margin-left: 10px;
    display: inline-flex;
}

button {
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.selected {
    background-color: rgb(222, 203, 187);
    text-decoration: none;
}

.unselected {
    text-decoration: none;
}